<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入頁面</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <h2>登入</h2>
      <form action="/login" method="POST">
        <input type="email" name="login_email" placeholder="信箱" required />
        <input
          type="password"
          name="login_password"
          placeholder="密碼"
          required
        />
        <button type="submit">登入</button>
      </form>
      <div id="errorMsg" style="color: red; display: none"></div>
      <a href="{{ url_for('emailForgot')}}" class="forgot-password"
        >忘記密碼？</a
      ><br />
      <a href="{{ url_for('signup')}}" class="signup"
        >還沒有帳號嗎? 建立新帳號</a
      >
    </div>
  </body>
</html>
