<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>重設密碼頁面</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="forgot-container">
      <h2>忘記密碼</h2>
      <form action="/passwordForgot" method="POST">
        <input type="email" name="email" value="{{user_email}}" readonly />
        <input
          type="password"
          name="new_password"
          placeholder="密碼"
          required
        />
        <input
          type="password"
          name="confirm_password"
          placeholder="請再次輸入密碼"
          required
        />
        <button type="submit">送出</button>
      </form>
    </div>
  </body>
</html>
